In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import itertools

file_path = 'DataSets/refugee_interview_filtered.csv'
population_data = pd.read_csv(file_path)
print(population_data)

      ID                  VAR00 VAR00.1  VAR01  VAR02  VAR02_1  VAR03  VAR04  \
0      2        GAM-M-BER-06/07    DE_1      9      4   Gambia      0     19
1      4         IRA-M-GOE 1110    DE_2      9      4     Iran      1     33
2      7     SYR- M- MUN- 03.12    DE_3      9      1      NaN      0     25
3      8  01 - ITA23052018MICRO   ITA_1      5      4   Gambia      0    999
4      9  02 - ITA04032019MICRO   ITA_2      5      4   Gambia      0     22
..   ...                    ...     ...    ...    ...      ...    ...    ...
411  404                 HUN_12  HUN_12      6      2      NaN      0     40
412  405                 HUN_13  HUN_13      6      4   Uganda    999    999
413  415                 TUR_43   TR_43      3      1      NaN      1     58
414  502                  GRE_5   GRE_5      4      2      NaN      0     32
415  520                 GRE_26  GRE_26      4      4  Eritrea      0     24

     VAR05  VAR06  ...  VAR26  VAR27  VAR28  VAR29  VAR30  VAR31  VAR32  \
0        0      5  ...      1      1    999      1      1    999      1
1        0      2  ...      1      0      1      0      0    999      1
2        0      5  ...      1      0    999     99     99    999    999
3      999    999  ...      1    999    999     99     99    999      1
4      999      5  ...      1      1    999      1      2    999    999
..     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
411      2      2  ...      1      1    999      1      1    999    999
412    999    999  ...      1    999    999     99     99    999      0
413      2      4  ...    999    999    999     99     99    999      0
414      0      5  ...      1      1    999      1      0     45      1
415      0      5  ...      1      1     12      1      2      5      1

     VAR33  VAR34  VAR35
0        1      1    999
1        1      0      0
2        1      0      1
3        1    999    999
4        1    999    999
..     ...    ...    ...
411    999    999    999
412    999      0      1
413      0      1      1
414      1      0      1
415      0      0      0

[416 rows x 33 columns]